<!-- Start BreadCrumb Area -->
<section id="BreadCrumb-Section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap text-center">
                    <nav aria-label="breadcrumb">
                        <h1 class="breadcrumb-title">About</h1>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End BreadCrumb Area -->
<!-- Start About-Us Section-->
<section class="about-page">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-image mt-30">
                    <img src="~/assets/img/Slider/slider-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content mt-30">
                    <h2 class="title">Welcome to Sofine</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam eum commodi obcaecati soluta minima rem error nihil. Deleniti quis maxime tempore optio enim, sapiente consectetur? Sed accusantium voluptatem rerum nisi quas, ipsum cupiditate. Autem quis possimus delectus pariatur corrupti facilis ex nobis voluptatem totam provident debitis, obcaecati exercitationem praesentium saepe hic. <br> <br> Sint voluptatum beatae necessitatibus quos mollitia vero, optio asperiores aut tempora iusto eum rerum, possimus, minus quidem ut saepe laboriosam. Praesentium aperiam accusantium minus repellendus accusamus neque iusto pariatur laudantium provident quod recusandae exercitationem natus dignissimos, molestias quibusdam doloremque eaque fugit molestiae modi quam unde. Error est dolor facere.</p>
                </div>
            </div>
        </div> <!-- row -->
        <div class="about-items pt-20">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-item mt-30">
                        <h4 class="title">Our company</h4>
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>
                    </div> <!-- about item -->
                </div>
                <div class="col-lg-4">
                    <div class="about-item mt-30">
                        <h4 class="title">Our team</h4>
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>
                    </div> <!-- about item -->
                </div>
                <div class="col-lg-4">
                    <div class="about-item mt-30">
                        <h4 class="title">Testimonials</h4>
                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>
                    </div> <!-- about item -->
                </div>
            </div> <!-- row -->
        </div>  <!-- about items -->
    </div> <!-- container -->
</section>
<!-- End About-Us Section-->