@model UserChangeRoleVM
@{
    ViewData["Title"] = "Change Role Page";
}

<div class="row justify-content-start">
    <div class="col-lg-2">
        <h1 class="h3 mb-4 text-gray-800">Change Role Page</h1>
    </div>
</div>
<div class="row justify-content-start">
    <div class="col-lg-2">
        <form method="post">
            <div class="form-group d-none">
                <label asp-for="UserId" class="form-label"></label>
                <input asp-for="UserId" class="form-control">
                <span class="text text-danger" asp-validation-for="UserId"></span>
            </div>
            <div id="parentList">
                <label asp-for="RoleId" class="form-label">Role</label>
                <div class="input-group mb-3">
                    <select asp-for="RoleId" class="custom-select" asp-items="new SelectList(ViewBag.Role,nameof(IdentityRole.Id),nameof(IdentityRole.Name))">
                    </select>
                    <span class="text text-danger" asp-validation-for="RoleId"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
