 <!-- Start BreadCrumb Area -->
   <section id="BreadCrumb-Section">
    <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb-wrap text-center">
                  <nav aria-label="breadcrumb">
                      <h1 class="breadcrumb-title">Contact Us</h1>
                      <ul class="breadcrumb">
                          <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
  </div>
   </section>
    <!-- End BreadCrumb Area -->
<!-- Start  Contact Us Section-->
<section id="Contact-Us-Section">
    <div class="container">
        <div class="row contact-us-1">
            <div class="contact-us-area col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="contact-info">
                    <h3>CONTACT INFORMATION</h3>
                    <p class="content">
                        We love to hear from you on our customer service, merchandise, website or any topics you
                        want to share with us.
                        Your comments and suggestions will be appreciated. Please complete the form below.
                    </p>
                    <p>
                        <i class="fa-solid fa-house"></i>
                        Hasan Bay Zardabi 89A
                    </p>
                    <p>
                        <i class="fa-regular fa-clock"></i>
                        Monday – Friday: 9:00-20:00 <br>
                        Saturady: 11:00 – 15:00
                    </p>
                    <p>
                        <i class="fa-solid fa-phone"></i>
                        +994 50 760 06 49
                    </p>
                    <p>
                        <i class="fa-regular fa-envelope"></i>
                        aliyevsamed07@gmail.com
                    </p>
                </div>
            </div>
            <div class="contact-form col-xs-12 col-sm-12 col-md-12 col-lg-6">
                <div class="contact-form-area">
                    <h3>LEAVE A REPLY</h3>
                    <p>Your email address will not be published. Required fields are marked *</p>
                    <form method="post">
                        <div class="single-input-item">
                            <input type="text" class="input-box" placeholder="Name*" />
                        </div>
                        <div class="single-input-item">
                            <input type="email" class="input-box" placeholder="Email*" />
                        </div>
                        <div class="single-input-item">
                            <textarea class="contact-textarea" name="" id="" cols="30" rows="10" placeholder="Message*"></textarea>
                        </div>
                        <div class="single-input-item">
                        </div>
                        <div class="single-input-item">
                            <button class="login-btn">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End  Contact Us Section-->