@model ForgotPassword
<!-- Start BreadCrumb Area -->
<section id="BreadCrumb-Section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap text-center">
                    <nav aria-label="breadcrumb">
                        <h1 class="breadcrumb-title">Forgot Password</h1>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End BreadCrumb Area -->
<!-- login register wrapper start -->
<div class="login-register-wrapper section-padding">
    <div class="container">
        <div class="member-area-from-wrap">
            <div class="row justify-content-center">
                <!-- Login Content Start -->
                <div class="col-lg-6">
                    <div class="login-reg-form-wrap">
                        <h2>Forgot Password</h2>
                        <form method="post">
                            <div class="single-input-item">
                                <input asp-for="Email" class="input-box" placeholder="Email" />
                                <span asp-validation-for="Email" class="text text-danger"></span>
                            </div>
                            <div class="single-input-item">
                                <button class="login-btn">Send Email</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Login Content End -->
            </div>
        </div>
    </div>
</div>
<!-- login register wrapper end -->