@model IEnumerable<Product>
@foreach (Product product in Model)
{
        <ul class="search-product-details">
        <li class="product-img">
            <a asp-controller="Shop" asp-action="Detail" asp-route-productId="@product.Id">
                <img style="width:90px" src="assets/img/Product/@product.MainImage">
            </a>
        </li>
        <li class="product-name">
            <h2><a asp-controller="Shop" asp-action="Detail" asp-route-productId="@product.Id">@product.Title</a></h2>
        </li>
        <li class="price-box">
            <span class="price-regular">$@(product.DiscountedPrice > 0 ? product.DiscountedPrice : product.Price)</span>
        </li>
    </ul>
}