@model IEnumerable<WishlistVM>
@if (Model.Count() == 0)
{
    <div class="wishlist-inner">
        <i class="fa-solid fa-heart-circle-xmark"></i>
        <p>Your Wishlist is empty.</p>
    </div>
}
<div class="mini-cart-inner">
    <ul class="mini-cart-details">
        @foreach (WishlistVM wishlistVM in Model)
        {
            <li class="product-item">
            <a class="thumb" href=""><img style="width: 78px;" src="~/assets/img/Product/@wishlistVM.Image" alt=""></a>
            <div class="info">
                <a class="product-name" href="">@wishlistVM.Title</a>
                <div class="product-item-qty">
                    <div class="number-price">
                        <span class="pro-price">$@wishlistVM.Price</span>
                    </div>
                </div>
                <div class="pro-remove">
                        <a style="cursor:pointer" class="delete-wishList" data-id="@wishlistVM.Id">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                </div>
            </div>
        </li>
        }
    </ul>
</div>
@if(Model != null && Model.Count() > 0)
{
    <div class="bottom-group">
        <div class="subtotal">
        </div>
        <div class="cms-group-button">
            <a asp-controller="Wishlist" asp-action="Index" class="cms-button-check">View wishlist</a>
        </div>
    </div>
}